html,
body {
}

.container {
	max-width: 80%;
	margin: 10%;
}

.sub-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.sub-container > div {
	margin: 16px;
}

.sub-container > div > img {
	max-width: 100%;
}

.container-5 {
}

.container-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 32px;
}

.container-2 > img {
	height: 256px;
}

header {
	display: grid;
	grid-template-columns: 1fr 9fr;
}
